@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');
}

body {
  background: linear-gradient(360deg, rgb(255, 230, 230) 0%, rgb(255, 255, 255) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}

h1 {
  display: block;
  text-align: center;
  font-size: 45px;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffc6c7;
}

h2 {
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: light;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffc6c7;
}

ul {
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  margin-top: 75px;
  font-size: 18px;
  font-weight: normal;
  color: #ff8ba7;
}

li {
  display: block;
  list-style-type: none;
  position: relative;
  margin: 0;
}

li::first-letter {
  text-transform: capitalize;
}

strong {
  font-size: 1em;
}

.units {
  display: inline-block;
  vertical-align: top;
  margin-top: 45px;
  font-size: 30px;
}

#temp {
  display: inline-block;
  vertical-align: middle;
  color: #ff8ba7;
  font-size: 125px;
  font-weight: lighter;
}

footer {
  text-align: center;
  color: #ff8ba7;
}

a {
  color: #008f72;
  text-decoration: none;
}

a:active {
  color: #ff8ba7;
}

a:hover {
  color: #00ffcc;
}

.dark {
  background: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

}

.dark .card {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 70%, rgb(235, 253, 249) 92%, rgb(222, 255, 249) 100%);
  border: 2px solid #c6fff6;
  border-radius: 10px;
  box-shadow: 3px 3px 40px rgba(191, 255, 250, 0.774);
}

.dark .cardweekdays {
  display: block;
  margin: 0;
  padding: 10px;
  border: 2px solid #00ffcc;
  border-radius: 10px;
  background: #ffffff;
  color: #61c0bf;
}

.dark h1 {
  color: #61c0bf;
}

.dark h2 {
  color: #61c0bf;
}

.dark ul {
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  margin-top: 75px;
  font-size: 18px;
  font-weight: normal;
  color: #61c0bf;
}

.dark #temp {
  color: #61c0bf;
}

.dark footer {
  text-align: center;
  color: #008f72;
}

.dark a {
  color: #00ffcc;
  text-decoration: none;
}

.card {
  margin-top: 35px;
  padding: 10px;
  text-align: center;
  border: 2px solid #ff8Ba7;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 70%, rgb(253, 241, 243) 86%, rgb(254, 234, 235) 100%);
  box-shadow: 3px 3px 30px rgb(255, 255, 255);
  min-width: 800px;
  min-height: 200px;
  overflow: hidden;
}

.cardweekdays {
  display: block;
  margin: 0;
  padding: 10px;
  border: 2px solid #ff8ba7;
  border-radius: 10px;
  background: #ffffff;
  color: #ff8ba7;
  z-index: 2; 
  font-family: 'Josefin Sans', sans-serif; 
}

.current {
  font-size: 100px;
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
}

#icon {
  display: block;
  width: 85px;
  height: 85px;
  margin: 75px auto;
  position: relative;
  z-index: 2;
}

.search-bar {
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  margin-top: 15px;
  padding: 10px;
}
.search-bar label {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  margin-right: 15px;
  color: #ff8ba7;
}

.search-bar input[type="text"]::placeholder {
  color: #61c0bf;
}

.search-bar input[type="text"]::selection {
  background-color: #ff8ba7; 
  color: #ffffff;
}

.btn-primary {
  background-color: #ffc6c7;
  border: none;
  align-items: right;
}

.form-check-input {
  display: block;
  margin: 0 auto;
  background-color: #80D0C7;
}

.form-check-input:hover {
  border: 2px solid #ffC6c7;
  background-color: #ff8Ba7;
}

.btn-info:hover {
  background: linear-gradient(15deg, #61C0BF 0%, #80D0C7 100%);
  color: white;
  cursor: pointer;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-temperature {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  position: relative;
  width: 400px;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#overlay-image {
  position: absolute;
  top: 27px;
  left: -40px;
  width: 454px;
  height: auto;
  z-index: 1;
}

#city, #description {
  position: relative;
  z-index: 2; 
}