h1 {
  display: block;
  text-align: center;
  font-size: 100;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffc6c7;
}

h2 {
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffc6c7;
}

ul {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: block;
  margin-top: 300px;
  font-size: 18px;
  font-weight: lighter;
  color: #ff8ba7;
}

li {
  display: block;
  list-style-type: none;
  text-transform: capitalize;
  position: relative;
}

strong {
  font-size: 1em;
}

span.units {
  float: right;
}

footer {
  text-align: center;
  color: #ff8ba7;
}

a {
  color: #008f72;
  text-decoration: none;
}

a:hover {
  color: #00ffcc;
}

.card {
  margin-top: 35px;
  padding: 10px;
  border: 1.8px solid #00ffcc;
  border-radius: 10px;
  background: #fffefb;
  box-shadow: 3px 3px 40px rgba(216, 148, 148, 0.4);
}

.cardweekdays {
  display: block;
  padding: 10px;
  border: 1.8px solid #00ffcc;
  border-radius: 10px;
  background: #fffefb;
  box-shadow: 2px 2px 7px rgba(0, 128, 119, 0.2);
  color: #ff8ba7;
}

.cardweekdays i {
  color: #ffc6c7;
  font-size: 35px;
}

.current {
  font-size: 95px;
  text-align: center;
  margin-right: 10px;
}

#temp {
  display: block;
  position: relative;
  color: #ff8ba7;
  font-size: 100px;
}

.fa-cloud-sun {
  display: block;
  font-size: 175px;
  margin: 75px auto;
  background-image: linear-gradient(to bottom, #fff0ad, #ffb6b9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-bar {
  text-align: left;
  margin-top: 15px;
  padding: 10px;
}
.search-bar label {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  margin-right: 15px;
  color: #ff8ba7;
}
.btn-primary {
  background-color: #00ffcc;
  border: none;
  align-items: right;
}
.form-check-input {
  display: block;
  margin: 0 auto;
  background-color: #ffc6c7;
}
.form-check-input:hover {
  border: 2px solid #ffc6c7;
  background-color: #ff8ba7;
}
